*,
*:hover,
*:focus {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

body,
ul,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #555;
}

a {
    text-decoration: none;
    color: #666;
    font-size: .9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    // max-width: 100%;
    height: auto;
    image-rendering: optimizespeed;
}