@use '../abstracts/mixins' as *;

/* Web Font: Start */

/* thin */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-thin.woff2') format('woff2'),
        url('../fonts/sofiasans-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* thin-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-thin-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-thin-italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* extra-light */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-extralight.woff2') format('woff2'),
        url('../fonts/sofiasans-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* extra-light-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-extralight-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-extralight-italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* light */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-light.woff2') format('woff2'),
        url('../fonts/sofiasans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* light-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-light-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* regular */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-regular.woff2') format('woff2'),
        url('../fonts/sofiasans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* regular-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-regular-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* medium */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-medium.woff2') format('woff2'),
        url('../fonts/sofiasans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* medium-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-medium-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-medium-italic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

/* semibold */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-semibold.woff2') format('woff2'),
        url('../fonts/sofiasans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* semibold-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-semibold-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-semibold-italic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

/* bold */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-bold.woff2') format('woff2'),
        url('../fonts/sofiasans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* bold-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-bold-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-bold-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* extra-bold */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-extrabold.woff2') format('woff2'),
        url('../fonts/sofiasans-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* extra-bold-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-extrabold-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-extrabold-italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* black */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-black.woff2') format('woff2'),
        url('../fonts/sofiasans-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* black-italic */
@font-face {
    font-family: 'sofiasans';
    src: url('../fonts/sofiasans-black-italic.woff2') format('woff2'),
        url('../fonts/sofiasans-black-italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Web Font: End */

html {
    font-family: 'sofiasans', Helvetica, sans-serif;
}

// @for $i from 1 through 6 {
//     h#{$i} {
//         font-size: 2rem - ($i * .35rem);
//         margin-bottom: 1rem;
//         font-weight: 800;

//         @include sm-min {
//             font-size: 2rem - ($i * .20rem);
//         }

//         @include md-min {
//             font-size: 2rem - ($i * .05rem);
//         }
//     }
// }

h1 {
    font-size: 2rem;
    font-weight: 900;

    @include lg-min {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 1.75rem;
    margin-bottom: .75rem;
    font-weight: 900;
    line-height: 1;

    @include lg-min {
        font-size: 2.15rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: .75rem;

    @include lg-min {
        margin-bottom: 1rem;
    }
}

h4 {
    font-size: 1.25rem;
    margin-bottom: .75rem;
    font-weight: 800;
    line-height: 1;
}

h5 {
    font-size: 1.15rem;
    margin-bottom: .75rem;
    font-weight: 900;
    line-height: 1;
}

h6 {
    font-size: 1rem;
    margin-bottom: .75rem;
    font-weight: 900;
    line-height: 1;
}

p {
    margin-bottom: 1em;
}