@use '../vendors/swiper' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Custom Style: Start  */
.hero-slider {
    height: auto;
    padding-top: 0 !important;
    padding-bottom: 1.25rem;
    // border: 2px solid green;
    position: relative;
    // overflow-x: hidden;
    background: #f5f5f5;
    z-index: 0;

    @include lg-min {
        height: 30rem;
    }

    @include xl-min {
        height: 35rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__content-col1 {
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17rem;

        @include lg-min {
            height: auto;
            // border: 2px solid red;
            width: 40rem;
            justify-content: flex-start;
            margin-left: 5rem;
        }
    }

    &__content-col2 {
        // border: 2px solid green;
        padding-top: 1rem;
        // margin-bottom: 3rem;

        @include lg-min {
            // border: 2px solid red;
            width: 37rem;
            text-align: right;

        }
    }

    &__content-col2-brand {
        display: flex;
        gap: 1rem;
    }

    &__content-col2-brand-and-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        @include lg-min {

            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            flex-direction: row;
        }
    }

    &__content-col2-description {
        @include lg-min {
            width: 80%;
            margin-left: auto;
        }
    }

    &__content-col2-heading {
        font-weight: 900;
        font-size: 1.75rem;
        color: $color1;

        @include lg-min {

            font-size: 4rem;
            line-height: 1;
        }
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        // border: 2px solid red;

        @include lg-min {
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__image {}

    &__image-wrapper {
        // border: 2px solid violet;
    }

    &__strip-bg-wrapper {
        display: flex;
        background: white;
        width: 300%;
        height: 17rem;
        position: absolute;
        z-index: -1;
        gap: .25rem;
        transform: skewX(25deg);
        left: -50%;
        // border: 2px solid black;

        @include lg-min {
            height: 35rem;
            left: -15%;
            width: 330%;
        }
    }

    &__strip-bg1 {
        background: $color1;
        flex-grow: 1;

        @include lg-min {
            flex-grow: 0.28;
        }

    }

    &__strip-bg2 {
        background: $color2;
        flex-grow: 1;

        @include lg-min {
            flex-grow: .15;
        }
    }

    &__strip-bg3 {
        background: #f5f5f5;
        flex-grow: 1;

        @include lg-min {
            flex-grow: 1.75;
        }
    }

    &__wrapper {}

    &__slider-image {
        object-fit: cover;
        // width: 100%;
        // height: 100%;
        object-position: top;
    }

    &__description-content {
        background: white;
        padding: 1.5rem;
        border-radius: $border-radius;

        @include md-min {
            width: 30rem;
            padding: 2.5rem;
        }

        @include xl-min {
            width: 33rem;
            padding: 3.5rem;
        }
    }

    &__description-paragraph-and-button {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;

        @include md-min {
            flex-direction: row;
            align-items: center;
            column-gap: 1rem;
        }
    }

    &__description-wrapper {
        width: 100%;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 4rem;
        left: 0;
        margin: auto;
        text-align: left;
        z-index: 6;
        padding-left: 1rem;
        padding-right: 1rem;
        // border: 2px solid red;

        @include xl-min {
            width: 1170px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__description-heading {
        color: $color2;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: -.05rem;
        margin-bottom: .70rem;

        @include md-min {
            margin-bottom: .5rem;
            font-size: 2rem;
        }

        @include xl-min {
            font-size: 2.5rem;
        }
    }

    &__description-paragraph {
        margin-bottom: 0;
        --max-lines: 3;
        --line-height: 1.25;
        max-height: calc(var(--max-lines) * 1rem * var(--line-height));
        overflow: hidden;
        line-height: var(--line-height);

        @include sm-min {
            --max-lines: 2;
        }
    }

    &__description-btn-wrapper {
        margin-bottom: 0;
    }

    .hero-slider-pagination {
        position: absolute;
        text-align: center;
        transition: 300ms opacity;
        transform: translate3d(0, 0, 0) rotate(90deg);
        margin-left: 1rem;
        margin-right: 1rem;
        left: initial;
        right: -2rem;
        bottom: 22rem;
        // border: 2px solid green;
        width: auto;
        // background: red;
        z-index: 1;

        @include md-min {
            justify-content: flex-end;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include lg-min {
            width: 100%;
            margin: 0 auto;
            transform: rotate(0deg);
            bottom: 3.5rem;
            right: initial;
            text-align: left;
            position: relative;
            padding-left: 5rem;
        }

        @include xl-min {
            width: 1170px;

        }
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: white;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: $color1;

        @include lg-min {
            background: $color2;
        }
    }

}