@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Move to Top: Start */
.move-to-top {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 1.25rem;
    right: 1rem;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: $color2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 100%;
    transition: all 0.20s linear 0s;

    @include xl-min {
        right: 1.25rem;
    }
}

.move-to-top::before {
    content: "";
    width: 0.35rem;
    height: 0.35rem;
    padding: 2px;
    background-color: transparent;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-136deg);
    -webkit-transform: rotate(-136deg);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0.5rem;
    bottom: 0;
}

.move-to-top:hover {
    background-color: $color2;
}

.move-to-top.move-to-top--active {
    opacity: 1;
    visibility: visible;
}

/* Move to Top: End */