@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site-preloader1 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 6;

    &:after {
        content: '';
        border-radius: 50%;
        border-top: 4px solid $color1;
        border-right: 4px solid $color1;
        border-bottom: 4px solid $color2;
        border-left: 4px solid $color2;
        width: 40px;
        height: 40px;
        @include animation(site-preloader1, .85s, linear, 0s, infinite, normal, forwards, running);
        display: block;
    }
}

@include keyframes(site-preloader1) {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}